

.card {
    width: 200px;
    height: auto;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px 5px;
    margin: 5px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(214, 213, 213) ;
}

.card-img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    padding: 0 auto;
    mix-blend-mode: color-burn;
}

.card-button {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 0 auto;
}

.card-button:hover {
    background-color: rgb(5, 220, 38);
    color: rgb(255, 255, 255);
}